@use "variables" as varis;

.articles{
    padding: 10px;
    background-color: white;
    margin: 10px auto 10px auto;
    position: relative;
    height: 350px;

    h2{
        background-color: transparent;
        color: $dark-blue;
        font-size: 1.7rem;
        padding: 0;
        margin: 0;
        position: relative; 
    }
    p{
        margin-bottom: 1rem;
    }
    img{
        margin-bottom: .5rem;
        width: 100%;
    }
    button{
        p{
            padding: 0;
            margin: 0;
        }
        background-color: $dark-blue;
        font-family: 'Roboto Condensed', sans-serif;
        color: white;
        font-weight: 700;
        padding: 5px 5px;
        border: none;
        text-align: center;
        font-size: 1rem;
        margin: 0 10px 10px 10px;
        position: absolute;
        right: 0;
        bottom: 0;


    }
}

@media (min-width: 615px) {
    .articles{
        height: 400px;
    }

}
@media (min-width: 712px) {
    .articles{
        height: 420px;
    }

}
@media (min-width: 840px) {
    .articles{
        height: 460px;
        grid-column: 1 / 2;
    }

}