

.side-bar{
    h3{
        background-color: $dark-blue;
        color: white;
        padding: 10px;
        margin-bottom: 1px;
    }
    .recipes{
    padding: 0;
    margin: 0;
    background-color: white;
    list-style: none;
    li{
       font-size: 1.25rem;
       height: 68px;
       padding: 10px;
       margin: 0;
       display: grid;
       grid-template-columns: 65px 1fr;
       column-gap: 10px;
       align-items: center;
    }
    li:nth-child(2n){
        background-color: lightgrey;
    }
    img{
        margin-right: 1rem;
        border: $dark-blue solid 2px;
    }
  }
    .CuisinesH3{
        
    }
    .cuisines{
        list-style: none;
        background-color: rgb(255, 255, 255);
        columns: 2;
        padding: 10px 0 10px 0 10px;
        margin-top: 0;
        padding: 10px;
        li{
            padding: 5px;
        }

  }
}

@media (min-width: 640px){
    .side-bar{
        .cuisines{
        columns: 3;
    }
    }
    
}
@media (min-width: 770px){
    .side-bar{
        .cuisines{
        columns: 1;
        
    }
    }
}


