@use "variables" as varis;

.nav-bar {
    display: flex;
    justify-content: space-between;
}

nav picture {
    height: 35px;
}

nav ul {
    padding-left: 0;
}

nav li {
    background-color: varis.$dark-blue;
    color: white;
    list-style: none;
}


