.grid-section{
    display: grid;
    grid-template-rows: 1fr;
    gap: .5rem;
    #image{
        padding: 0;
        margin: 0;
        width: 100%;
        position: relative;
        img{
           width: 100%;
           height: 14rem;
           object-fit: cover;
    }
    figcaption{
        font-family: 'Roboto Condensened', sans-serif;
        font-weight: 400;
        color: white;
        background-color: rgba(0, 0, 0, 0.637);
        padding: 1rem;
        position: absolute;
        bottom: 0;
        width: 100%;
        box-sizing: border-box;
    }
    }
    

}

@media (min-width: 670px) {
    .grid-section{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: .5rem;
        .image1{
        grid-column: span 2; 
        }
        img{
            height: 330px;
        }
    }
}

@media (min-width: 1000px ) {
    .grid-section, article, .side-bar{
        width: 900px;
        margin: 0 auto;
    }

}